@import "_theme.scss";

@mixin button($color: $col-paper-grey, $hover-darken: 10%, $active-darken: 20%, $inner: $color) {
    $hover-color: $color;
    @if $hover-darken < 0 {
        $hover-color: lighten($color, -$hover-darken)
    }
    @if $hover-darken > 0 {
        $hover-color: darken($color, $hover-darken)
    }

    $active-color: $color;
    @if $active-darken < 0 {
        $active-color: lighten($color, -$active-darken)
    }
    @if $active-darken > 0 {
        $active-color: darken($color, $active-darken)
    }

    $hover-inner: $inner;
    @if $hover-darken < 0 {
        $hover-inner: lighten($inner, -$hover-darken)
    }
    @if $hover-darken > 0 {
        $hover-inner: darken($inner, $hover-darken)
    }

    $active-inner: $inner;
    @if $active-darken < 0 {
        $active-inner: lighten($inner, -$active-darken)
    }
    @if $active-darken > 0 {
        $active-inner: darken($inner, $active-darken)
    }

    border: 3px solid $color;
    background-color: $inner;

    &:hover { 
        border-color: $hover-color;
        background-color: $hover-inner;
    }

    &:active { 
        background-color: $active-inner;
    }
}

@mixin background($default, $hover: darken($default, 10%), $active: darken($default, 20%)) {
    background-color: $default;

    &:hover { 
        background-color: $hover;
    }

    &:active { 
        background-color: $active;
    }
}

@mixin border($default, $hover: darken($default, 10%), $active: darken($default, 10%)) {
    border: 3px solid $default;

    &:hover { 
        border: 3px solid $hover;
    }

    &:active { 
        border: 3px solid $active;
    }
}

button, .btn, input[type=button], .selectbox select {
    box-sizing: border-box;
    border-radius: 4px;
    padding: sz(4pt) sz(12pt);
    margin: sz(3pt);
    cursor: pointer;
    
    text-align: center;

    appearance: none;

    @include text-body;
    @include background($default: $col-paper-grey);
    @include border($default: $col-paper-grey);

    &.btn-compact {
        padding: sz(2pt) sz(6pt);
        font-size: 0.8em;
        border-radius: 2px;
    }

    &:focus {
        outline: none;
    }

    &.btn-primary {
        @include background($default: $col-heritage-blue);
        @include border($default: $col-heritage-blue);
        color: white;
    }

    &.btn-secondary {
        @include background($default: $col-spark-orange);
        @include border($default: $col-spark-orange);
        color: white;
    }

    &.btn-error {
        @include background($default: $col-artful);
        @include border($default: $col-artful);
        color: white;
    }

    &.btn-warning {
        @include background($default: $col-people);
        @include border($default: $col-people);
        color: white;
    }

    &.btn-alt {
        @include background($default: $col-attitude);
        @include border($default: $col-attitude);
        color: white;
    }

    &.btn-note {
        @include background($default: $col-elegance);
        @include border($default: $col-elegance);
        color: white;
    }

    // &.btn-primary-outline {
    //     @include background($default: transparent, $hover: rgba(black, 0.1), $active: rgba(black, 0.2));
    //     @include border($default: $col-heritage-blue);
    //     color: inherit;
    // }

    // &.btn-secondary-outline {
    //     @include background($default: transparent, $hover: rgba(black, 0.1), $active: rgba(black, 0.2));
    //     @include border($default: $col-spark-orange);
    //     color: inherit;
    // }

    &.btn-outline {
        @include background($default: transparent, $hover: rgba(black, 0.1), $active: rgba(black, 0.2));
        color: inherit;
    }

    &.block {
        display: block;
        width: 100%;
        margin: sz(3pt) sz(0pt);
    }
}

.selectbox {
    position: relative;
    margin: sz(3pt);

    &::after {
        font-family: MaterialIconsOutlined;
        display: block;
        width: 24px;
        height: 24px;
        content: "expand_more";
        font-size: 24px;
        position: absolute;

        right: sz(8pt);
        top: calc(50% - 12px);

        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';

        pointer-events: none;
        color: $col-heritage-blue;
    }

    &.dark::after {
        color: white;
    }

    select {
        margin: 0px;
        padding-right: sz(12px) + 28px;
    }
}