@import "_theme.scss";

.card {
    border-radius: sz(3pt);
    display: block;
    box-sizing: border-box;
    background-color: $col-paper-grey;
    box-shadow: 0px 5px 12px -2px rgba(#000, 0.2);
    overflow: hidden;
    position: relative;

    .card-image {
        display: block;
        box-sizing: border-box;
        position: relative;
        overflow-x: scroll;

        margin-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;

        .card-image-inner {
            width: 100%;
        }
    }

    .card-graph {
        background-color: $col-white;
        width: 100%;
        display: block;
        box-sizing: border-box;
        position: relative;
        overflow-x: scroll;
        
        margin-bottom: sz(10pt);

        .card-image-inner {
            width: 100%;
        }
    }

    .card-table {
        overflow: auto;
        max-height: 500px;

        table {
            border-spacing: 0px;
            min-width: 100%;
            thead {
                background-color: $col-attitude;
                color: $col-white;
            }

            tbody {
                background-color: $col-scientific;
                tr:nth-child(odd) {
                    background-color: darken($col-scientific, 10%);
                }
            }
    
            &.sortable {
                thead {
                    #sorttable_sortrevind, #sorttable_sortfwdind {
                        float: right;
                        position: absolute;
                        right: 10px;
                        font-size: 0px;
                        top: calc(50% - 12px);

                        &::before {
                            font-family: MaterialIconsOutlined;
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            font-size: 24px;
                            position: relative;
                    
                            line-height: 1;
                            text-transform: none;
                            letter-spacing: normal;
                            word-wrap: normal;
                            white-space: nowrap;
                            direction: ltr;
                          
                            -webkit-font-smoothing: antialiased;
                            text-rendering: optimizeLegibility;
                            -moz-osx-font-smoothing: grayscale;
                            font-feature-settings: 'liga';
                        }
                    }
                    #sorttable_sortrevind::before {
                        content: "expand_less";
                    }
                    #sorttable_sortfwdind::before {
                        content: "expand_more";
                    }
                    cursor: pointer;
                    user-select: none;
                }
            }
    
            td, th {
                position: relative;
                padding: 10px;
                margin: 0px;
                border: 0px;
            }
        }
    }

    .card-logo-image {
        background-color: $col-spark-orange;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 20% 30%;
        position: relative;
        
        margin-bottom: sz(10pt);

        .card-image-inner {
            width: 100%;
        }
    }

    .card-header {
        display: block;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        box-sizing: border-box;
        @include text-level-1;
    }

    .card-content {
        display: block;
        width: 100%;
        padding: 5px 5px 10px 20px;
        box-sizing: border-box;
        @include text-body;
        color: inherit;

        &:nth-child(1) {
            padding-top: sz(10pt);
        }

        &.align-right {
            text-align: right;
        }
    }

    .card-corner-tr {
        padding: sz(10pt);
        box-sizing: border-box;
        
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .card-corner-tl {
        padding: sz(10pt);
        box-sizing: border-box;
        
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .card-corner-br {
        padding: sz(10pt);
        box-sizing: border-box;
        
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .card-corner-bl {
        padding: sz(10pt);
        box-sizing: border-box;
        
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    &.card-error, .card-error {
        background-color: $col-artful;
        .card-header {color: $col-heritage-blue;}
        color: $col-white;
    }

    &.card-warning, .card-warning {
        background-color: $col-people;
        .card-header {color: $col-heritage-blue;}
        color: $col-white;
    }

    &.card-success, .card-success {
        background-color: $col-intuitive;
        .card-header {color: $col-attitude;}
        color: $col-heritage-blue;
    }

    &.card-note, .card-note {
        background-color: $col-elegance;
        .card-header {color: $col-spark-orange;}
        color: $col-white;
    }

    &.card-dark, .card-dark {
        background-color: $col-heritage-blue;
        .card-header {color: $col-spark-orange;}
        color: $col-white;
    }
}